<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'rubyslist', root_path %> > <%= @listing.title %>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <button type="button">reply</button>
    posted 2 days ago
    <h1 class="listing-header"><%= @listing.title %></h1>
    <div class="box">
      <% if @listing.user = current_user %>
        <p><%= link_to 'edit', edit_listing_path %></p>
        <p><%= link_to 'delete', @listing, data: {confirm: "Are you sure you want to delete this listing?"}, method: :delete %></p>
      <% end %>
    </div>
    <p><%= @listing.description %>
    </p>
    test
  </div>
  <footer>
    <p><%= @listing.id %></p>
    <p>posted <%= time_ago_in_words(@listing.created_at) %> ago</p>
  </footer>
</div>

